@import 'tailwindcss';


@layer base {

    :root{
        --text:#080d0a;
        --background:#f0f4f2;
        --primary:hsl(204, 5%, 19%);
        --secondary:hsl(0, 0%, 100%);
        --third:hsl(0,0%,99%);
    }


    :root.dark{
        --text:#f2f7f4;
        --primary:#070d09;
        --background:hsl(209,23%,22%);
        --secondary:hsl(214, 18%, 27%);
    }

}

@theme {
    --color-text: var(--text);
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-third: var(--third);
}
.container {
    flex-direction: column;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 
    0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button, a {
    cursor: pointer;
}

body {
    background-color: var(--color-background);
}